@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  box-sizing: border-box;
}

.top-page {
  background-image: url(./photos/S__48676906.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
}
.container h1 {
  color: white;
  padding: 80px 40px;
  font-size: 50px;
}
.promotion h1 {
  text-align: center;
  padding-top: 20px;
}

video {
  width: 600px;
  height: auto;
  display: block;
  margin: 40px auto;
  border: 2px solid;
}
.title1 {
  margin: 45px auto;
  border-bottom: 2px solid #e6281b;
  width: 400px;
  text-align: center;
}
.arti ul {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.arti li {
  display: block;
  color: black;
  margin: 50px 50px;
  width: 250px;
  height: auto;
  display: block;
}
.arti li:hover {
  opacity: 0.6;
}
.img {
  width: 250px;
  height: auto;
}
.arti h1 {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
